apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq
  namespace: argocd
spec:
  project: default
  source:
    chart: rabbitmq-cluster-operator
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 4.4.34
    helm:
      releaseName: rabbitmq-cluster-operator
  destination:
    server: https://kubernetes.default.svc
    namespace: rabbitmq-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true